**/save
**/data
**/build
**/.build_release

# Caffe
*.config
*.caffemodel

# macOS related stuff
**/.DS_Store

# Dataset
VideoThumbnails*
*.csv

# MatLab
*.mat
*.m~


# pipeline config
config.sh

OAR*
