**/save
**/data
**/build
**/.build_release

# Caffe
*.config
*.caffemodel
*.solverstate

# macOS related stuff
**/.DS_Store

# Dataset
VideoThumbnails*
*.csv

# MatLab
*.mat
*.m~
*.log

# pipeline config
config.sh

OAR*
